.border {
    border-radius: 10px ;
    border: 1px solid grey;
    padding: 10px;
    padding-bottom: 25px;
    margin-left: 25rem;
    width: 55%;
    height: auto;
}

.err {
    margin-top: 10px;
    color: red;
}

